body {
    background-color: rgb(61, 61, 61);
}



.verh {
    font-size: 40px;
    background-color: #8e3dda;
    text-align: center;
    color: white;
}

.avatar {
    transform: scale(0.75);
    position: relative;
    left: -200px;
    top: 10px; 

}

.text  {
    position: relative;
    bottom: 1000px;
    font-size: 30px;
    left: 20px;
    color: bisque;
    
}

.under {
    position: relative;
    bottom: 200px;
}

.else {
    position: relative;
    color: bisque;
    font-size: 30px;



    bottom: 700px;
    width: 100%;
    border: 1px solid rgb(207, 100, 100);
}

.about {
    
    color: bisque;
    display: flex;
    align-items: flex-start;
    font-size: 30px;
    position: relative;
    left: 600px;
    bottom: 800px;
    justify-content: space-around;
    border: 1px solid rgb(207, 100, 100);
    padding: 10px;
    border-collapse: collapse;
    width: 100vh;
    height: 100%h;
}

.under {
    bottom: 700px;
    font-size: 25px;
    color: bisque;
}

.in {
    padding: 35px;  
}

.fo {

}

.one {
    flex-direction: column;
    margin: 10px;
}

.two {
    flex-direction: column;
    margin: 10px;
}

.three {
    flex-direction: column;
    margin: 10px;
}

.four {
    flex-direction: column;
    margin: 10px;
}

.five {
    flex-direction: column;
    margin: 10px;
}

.six {
    flex-direction: column;
    margin: 10px;
}

.seven {
    flex-direction: column;
    margin: 10px;
}

.eight {
    flex-direction: column;
    margin: 10px;
}

.nine {
    flex-direction: column;
    margin: 10px;
}

.ten {
    flex-direction: column;
    margin: 10px;
}

.forst {
    flex-direction: column;
    margin: 10px; 
}

.second {
    flex-direction: column;
    margin: 10px; 
}

.third {
    flex-direction: column;
    margin: 10px; 
}

.fourth {
    flex-direction: column;
    margin: 10px; 
}

.fivth {
    flex-direction: column;
    margin: 10px; 
}

.sith {
    flex-direction: column;
    margin: 10px; 
}

.seventh {
    flex-direction: column;
    margin: 10px; 
}

.eighth {
    flex-direction: column;
    margin: 10px; 
}

.ninth {
    flex-direction: column;
    margin: 10px; 
}

.tenth {
    flex-direction: column;
    margin: 10px; 
}

.container {
    left: 100px;
}